.task{
    padding: 0.5em 1em;
    margin-top: 0.6em;
    border: solid #dae0f5;
    border-radius: 1em;
}

.task h3 fa-icon{
    font-size: 2em;

}
.task h3 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

